@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 10, 5, 14;
  --background-end-rgb: 27, 27, 37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 5, 14;
    --background-end-rgb: 27, 27, 37;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient( to bottom, #0a060e  50%, #1b1b25);
}
